html {
    font-family:"Arimo", "Courier", "sans-serif";
    font-size: 16px;
    color: #484848;
    text-transform: uppercase;
}
table td {
    border-right: 1px solid #e3e3e3;
    width: 25%;
	height: 69px;
	text-align: center;
}
table {
    margin: 0 auto;
    background-color: #e8e8e8;
    border-spacing: 0;
    width: 100%;
}
section {
    background-color: #3a4965;
    padding: 3%;
}
.cy {
    font-size: 1.1rem;
}
.pp {
    font-size: 1.9rem;
}
.td1 span {
    font-size: 1rem;
    vertical-align: super;
}
.td2 {
    display: inline-block;
    text-align: left;
}
.dolar {
    font-size: 3.5rem;
    font-weight: bold;
}
.cent {
    font-size: 1.4rem;
    font-weight: bold;
}
.p-name {
    font-size: 1.1rem;
}
a {
    display: inline-block;
    text-align: center;
    line-height: 2.5;
    text-decoration: none;
    border-radius: 5px;
    width: 70%;
    height: 50%;
    color: #fff;
}
.tr9 td:nth-child(1) a {
    border-bottom: 5px solid #404040;
    background-color: #484848;
}
.tr9 td:nth-child(2) a {
    border-bottom: 5px solid #79b027;
    background-color: #89c331;
}
.tr9 td:nth-child(3) a {
    border-bottom: 5px solid #df3a46;
    background-color: #f04a56;
}
.tr9 td:nth-child(4) a {
    border-bottom: 5px solid #16736f;
    background-color: #20807c;
}
.tr1 td:nth-child(2) {
    background-color: #89c331;
    font-size: 1.5rem;
    color: #ffffff;
    border: 1px;

}
.tr1 td:nth-child(3) {
    background-color: #f04a56;
    font-size: 1.8rem;
    color: #ffffff;
    border: 1px;
}
.tr1 td:nth-child(4) {
    background-color: #20807c;
    font-size: 1.5rem;
    color: #ffffff;
    border: 1px;
}
.tr3,
.tr5,
.tr7 {
 background-color: #f2f2f2;
}
.tr4,
.tr6,
.tr8 {
 background-color: #e3e3e3;
}
.tr9 td:nth-child(1)  {
    background-color: #dddddd;
}
.tr2 {
    background-color: #fafafa;
}
.tr1 td:nth-of-type(1) {
    background-color: #fafafa;
}
.tr9 td:nth-child(2) {
    background-color: #eeeeee;
}
.tr9 td:nth-child(3) {
    background-color: #f4f4f4;
}
.tr9 td:nth-child(4) {
   background-color: #eeeeee;
}